@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
    --primary-color: #23856D;
    --secondary-color: #47AD97;
    --secondary-color-2: #17213C;
}

:root {
    --font-family: 'Montserrat', sans-serif;
    --font-weight: 500;
    --letter-spacing: 0.2px;
    --text-align: left;

    --h1-size: 64px;
    --h1-line-height: 80px;

    --h2-size: 50px;
    --h2-line-height: 57px;

    --h3-size: 30px;
    --h3-line-height: 32px;

    --h4-size: 28px;
    --h4-line-height: 30px;
    --h4-weight: var(--font-weight);

    --h5-size: 20px;
    --h5-line-height: 24px;

    --h6-size: 19px;
    --h6-line-height: 24px;

    --btn-text-size: 62px;
    --btn-text-line-height: 28px;

    --mobile-menu-size: 210px;
    --mobile-menu-line-height: 45px;

    --paragraph-size: 77px;
    --paragraph-line-height: 20px;

    --list-size: 31px;
    --list-line-height: 30px;

    --link-size: 28px;
    --link-line-height: 20px;
}

h1 {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--h1-size);
    line-height: var(--h1-line-height);
    letter-spacing: var(--letter-spacing);
    text-align: var(--text-align);
}

h2 {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    letter-spacing: var(--letter-spacing);
    text-align: var(--text-align);
}


h4 {
    font-family: var(--font-family);
    font-weight: var(--h4-weight);
    font-size: var(--h4-size);
    line-height: var(--h4-line-height);
    letter-spacing: var(--letter-spacing);
    text-align: var(--text-align);
    color: white;
    /* Metin rengini ayarlamak için eklenebilir */
}

.custom-button {
    width: 221px;

    height: 62px;

    border-radius: 5px;
    font-weight: 700;
    padding: 15px 40px;

    background-color: #2DC071;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 10px;

    transition: background-color 0.3s;

}

.custom-button:hover {
    background-color: #28a745;
    /* Hover durumunda arka plan rengi */
}



.button-s-2 {
    width: 221px;
    height: 62px;
    font-weight: 700;
    padding: 15px 40px;
    background-color: #FFFF;
    color: #252B42;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.button-s-2:hover {
    background-color: gainsboro;
    /* Hover durumunda arka plan rengi */
}


/* Kart boyutu */
.product-card {
    width: 348px;
    height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 30px 35px 25px;



    background-color: white;
}

/* Fotoğraf boyutu */
.product-card img {
    width: 348px;
    height: 427px;
    object-fit: cover;
    opacity: 0.9;
}

/* Fotoğraf altındaki kısım */
.product-card .product-info {
    width: 348px;
    height: auto;
    padding: 25px 25px 35px 25px;
    gap: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.button-3 {
    background-color: #23A6F0;
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.button-3:hover {
    background-color: #1c7b9d;
}

h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    font-family: Montserrat;
    margin-bottom: 1.5rem;
    /* Tailwind'de mb-6, 1.5rem (24px) karşılık gelir */
}


.button-4 {
    width: 151px;
    height: 52px;
    border-radius: 5px;
    color: #23A6F0;
    border: 2px solid #23A6F0;
    background: ;
    transition: background 0.3s, color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;

}

.button-4:hover {
    background: #23A6F0;

    color: white;

}

/* First ve Next butonları */
.button-first-next {
    background-color: #FFFFFF;
    width: 85px;
    height: 74px;
    border: 1px solid #E8E8E8;
    padding: 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #23A6F0;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-first-next:hover {
    background-color: #BDBDBD;
    border: 1px solid #BDBDBD;
}

/* Sayfa numaraları butonları (1-2-3) */
.button-page-number {
    background-color: #FFFFFF;
    width: 46px;
    height: 74px;
    border: 1px solid #E8E8E8;
    padding: 25px 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #23A6F0;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-page-number:hover {
    background-color: #BDBDBD;
    color: #FFFFFF;
}

.active {
    background-color: #23A6F0;
    color: #FFFFFF;
}

.text-content {
    width: 303px;
    height: auto;
    gap: 10px;

}

.text-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #252B42;

}

.text-content p {
    margin-top: 10px;
    color: #737373;

}